---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.jsx";
import PostCard from "../components/PostCard.astro";
import { supabase } from "../lib/supabase";

const { data, error } = await supabase.from("posts").select("*, users(name, user_name, avatar_url)");

console.log(data, error);
---

<Layout title="Clone de X">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-4">
    {data!.map(post =>(
      <div class="w-96"> <!-- Set the width using Tailwind's w utility -->
        <PostCard 
            userFullName={post.users.name} 
            userName={post.users.user_name}} 
            avatarUrl={post.users.avatar_url}} 
            content={post.content} 
          />
        </div>
    ))}
  </section>

  <Counter client:visible>
    <h1>Hello, Solid!</h1>
  </Counter>

  <main class="">
    <pre>
			{JSON.stringify(data, null, 2)}
		</pre>
  </main>
</Layout>
