---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.jsx";
import PostList from "../components/PostList.tsx";
import { supabase } from "../lib/supabase";
import ComposePost from "../components/ComposePost.astro";

const { data, error } = await supabase
  .from("posts")
  .select("*, users(name, user_name, avatar_url)");

console.log(data, error);
---

<Layout title="Clone de X">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-4">
    <!-- {data!.map(post =>(
      <div class="w-96">
        <PostCard 
            userFullName={post.users.name} 
            userName={post.users.user_name}} 
            avatarUrl={post.users.avatar_url}} 
            content={post.content} 
          />
        </div>
    ))} -->
    <ComposePost />
    <PostList client:visible />
  </section>

  <!-- <PostList client:only="solid-js" /> -->

  <Counter client:visible>
    <h1>Hello, Solid!</h1>
  </Counter>

  <main class="">
    <pre>
			{JSON.stringify(data, null, 2)}
		</pre>
  </main>
</Layout>
