<div class="flex items-start gap-2.5">
  <img
    class="w-8 h-8 rounded-full"
    src="https://avatars.githubusercontent.com/u/21257639?v=4"
    alt="{userName}"
  />
  <form action="/api/posts/create" method="post">
    <div
      class="mb-4 border border-gray-200 rounded-tr-xl rounded-br-xl rounded-bl-xl bg-gray-50 dark:bg-gray-700 dark:border-gray-600 w-96"
    >
      <div class="px-4 py-2 bg-white rounded-tr-xl dark:bg-gray-800">
        <label for="comment" class="sr-only">Your comment</label>
        <textarea
          id="content"
          name="content"
          rows="4"
          class="w-full px-0 text-sm text-gray-900 bg-white dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 focus:outline-none"
          placeholder="Write a comment..."
          required></textarea>
      </div>
      <div
        class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600"
      >
        <button
          type="submit"
          class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
        >
          Post comment
        </button>
      </div>
    </div>
  </form>
</div>
